body {
    margin: 0px;
    padding: 0px;
  }
  .splash-heading {
      background: #00A5E6;
      height: 150px;
      overflow: hidden;
      margin-bottom: 30px;
      margin-left: 15%;
      margin-right: 15%;
  }
  .splash-heading img {
      width: 280px;
      float: right;
      margin: 10px -100px 0px 0px ;
  }
